# Allow system_server to read and write dynamic FPS
r_dir_file(system_server, sysfs_battery_supply)
allow system_server sysfs_dm:file { getattr open write };
