on post-fs
    mkdir /data/misc/display 0770 system graphics
    mount none /odm/lost+found /odm/overlay bind

    # Vibration
    chown system system /sys/devices/platform/soc/a8c000.i2c/i2c-3/3-005a/leds/vibrator/level

on boot
    # Fingerprint
    chown system system /sys/devices/platform/soc/soc:goodix_fp/proximity_state

    # OTG
    write /sys/class/power_supply/usb/otg_switch 1
    chmod 0660 /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/dimlayer_bl_en
    chown system system /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/dimlayer_bl_en

    # Graphics
    chown system graphics /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/native_display_p3_mode
    chmod 0666 /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/native_display_p3_mode

    chown system graphics /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/hbm
    chmod 0666 /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/hbm

    chown system graphics /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/modes
    chmod 0666 /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/modes

    chown system graphics /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/native_display_p3_color_mode
    chmod 0666 /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/native_display_p3_color_mode

    chown system graphics /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/native_display_srgb_color_mode
    chmod 0666 /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/native_display_srgb_color_mode

    chown system graphics /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/native_display_wide_color_mode
    chmod 0666 /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/native_display_wide_color_mode

    chown system graphics /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/night_mode
    chmod 0666 /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/night_mode

    # FPS measurement
    chown system graphics /sys/class/drm/sde-crtc-0/measured_fps
    chmod 0666 /sys/class/drm/sde-crtc-0/measured_fps

    #dynamic FPS display path
    chown system system /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/dynamic_fps
    chmod 0666 /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/dynamic_fps

    # System Info
    chown system system /sys/devices/platform/soc/3d00000.qcom,kgsl-3d0/kgsl/kgsl-3d0/clock_mhz
    chmod 0664 /sys/devices/platform/soc/3d00000.qcom,kgsl-3d0/kgsl/kgsl-3d0/clock_mhz

    chown system system /sys/devices/platform/soc/3d00000.qcom,kgsl-3d0/kgsl/kgsl-3d0/gpu_busy_percentage
    chmod 0664 /sys/devices/platform/soc/3d00000.qcom,kgsl-3d0/kgsl/kgsl-3d0/gpu_busy_percentage

    chown system system /sys/devices/platform/soc/c440000.qcom,spmi/spmi-0/spmi0-02/c440000.qcom,spmi:qcom,pm8150b@2:qcom,qpnp-smb5/power_supply/battery/temp
    chmod 0664 /sys/devices/platform/soc/c440000.qcom,spmi/spmi-0/spmi0-02/c440000.qcom,spmi:qcom,pm8150b@2:qcom,qpnp-smb5/power_supply/battery/temp

    # Touchscreen
    chown system system /proc/touchpanel/double_tap_enable
    chmod 0660 /proc/touchpanel/double_tap_enable

    chown system system /proc/touchpanel/letter_m_enable
    chmod 0660 /proc/touchpanel/letter_m_enable

    chown system system /proc/touchpanel/letter_o_enable
    chmod 0660 /proc/touchpanel/letter_o_enable

    chown system system /proc/touchpanel/letter_s_enable
    chmod 0660 /proc/touchpanel/letter_s_enable

    chown system system /proc/touchpanel/letter_w_enable
    chmod 0660 /proc/touchpanel/letter_w_enable

    chown system system /proc/touchpanel/music_enable
    chmod 0660 /proc/touchpanel/music_enable

    chown system system /proc/touchpanel/double_swipe_enable
    chmod 0660 /proc/touchpanel/double_swipe_enable

    chown system system /proc/touchpanel/up_arrow_enable
    chmod 0660 /proc/touchpanel/up_arrow_enable

    chown system system /proc/touchpanel/down_arrow_enable
    chmod 0660 /proc/touchpanel/down_arrow_enable

    chown system system /proc/touchpanel/left_arrow_enable
    chmod 0660 /proc/touchpanel/left_arrow_enable

    chown system system /proc/touchpanel/right_arrow_enable
    chmod 0660 /proc/touchpanel/right_arrow_enable

#    chown system system /proc/touchpanel/left_swipe_enable
#    chmod 0660 /proc/touchpanel/left_swipe_enable

#    chown system system /proc/touchpanel/right_swipe_enable
#    chmod 0660 /proc/touchpanel/right_swipe_enable

#    chown system system /proc/touchpanel/up_swipe_enable
#    chmod 0660 /proc/touchpanel/up_swipe_enable

#    chown system system /proc/touchpanel/down_swipe_enable
#    chmod 0660 /proc/touchpanel/down_swipe_enable

    chown system system /proc/touchpanel/single_tap_enable
    chmod 0660 /proc/touchpanel/single_tap_enable

on charger
    write /sys/class/backlight/panel0-backlight/brightness 150

service vendor.secure_element_hal_service /system/bin/true
    disabled
